DEBUG=False
SECRET_KEY=replace-with-strong-secret
DOMAIN_NAME=vofino.ir
ALLOWED_HOSTS=vofino.ir,.vofino.ir
CSRF_TRUSTED_ORIGINS=https://vofino.ir,https://*.vofino.ir
SECURE_SSL_REDIRECT=True
SESSION_COOKIE_SECURE=True
CSRF_COOKIE_SECURE=True

MYSQL_DATABASE=vofino_db
MYSQL_USER=vofino_user
MYSQL_PASSWORD=replace-with-strong-db-password
MYSQL_ROOT_PASSWORD=replace-with-strong-root-password
MYSQL_HOST=mysql
MYSQL_PORT=3306
DATABASE_URL=mysql://vofino_user:replace-with-strong-db-password@mysql:3306/vofino_db

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

ZARINPAL_MERCHANT_ID=placeholder-uuid
