DEBUG=False
SECRET_KEY=change-me-in-production
DOMAIN_NAME=vofino.ir
ALLOWED_HOSTS=vofino.ir,.vofino.ir
CSRF_TRUSTED_ORIGINS=https://vofino.ir,https://*.vofino.ir
SECURE_SSL_REDIRECT=True
SESSION_COOKIE_SECURE=True
CSRF_COOKIE_SECURE=True

MYSQL_DATABASE=vofino_db
MYSQL_USER=vofino_user
MYSQL_PASSWORD=vofino_pass
MYSQL_ROOT_PASSWORD=vofino_root_pass
MYSQL_HOST=mysql
MYSQL_PORT=3306
DATABASE_URL=mysql://vofino_user:vofino_pass@mysql:3306/vofino_db

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

ZARINPAL_MERCHANT_ID=placeholder-uuid
